.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}
.card-icon {
    font-size: 3rem;
    color: #6610f2;
}
.btn-custom {
    background-color: #0c6403;
    border-color: #6610;
    color: #ffffff;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: #178604 !important;
    border-color: #32B90DFF !important;
    box-shadow: none !important;
    transform: none !important;
    color: #ffffff !important;
}