<form id="classForm" class="needs-validation" novalidate>
    <input type="hidden" name="id" id="classId">
    <div class="modal-body">
        <div class="mb-3">
            <label for="className" class="form-label" >Nome da Turma</label>
            <input type="text" class="form-control" id="className" name="name" minlength="3" required>
            <div class="invalid-feedback">Nome da turma deve ter no mínimo 3 caracteres</div>
        </div>
        <div class="mb-3">
            <label for="classDescription" class="form-label">Descrição</label>
            <textarea class="form-control" id="classDescription" rows="3" name="description" required></textarea>
            <div class="invalid-feedback">Descrição é obrigatória</div>
        </div>
    </div>
        <div class="modal-body">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
</form>
